:root {
    --border: solid 1px rgba(0, 0, 0, .2);
}

.mod_search {
    *zoom: 1;
}
.mod_search:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}
.mod_search input[type=text],
.mod_search input[type=search],
.mod_search button {
    float: left;
    margin: 0;
    padding: .25rem;
    font-size: 1.25rem;
    border: none;
    height: 2rem;
}
.mod_search input[type=text]:focus,
.mod_search input[type=search]:focus {
    outline: none;
}
.mod_search input[type=text],
.mod_search input[type=search] {
    border-left: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);
}
.mod_search button {
    background: transparent;
    background: var(--color-d4);
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    color: #fff;
}
.mod_search button:hover {
    cursor: pointer;
    background: var(--color-h4hover);
}

.mod_search input[type="search"] {
    -webkit-appearance: textfield;
}

.mod_search input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}